{% extends 'base.html.twig' %}

{% block title %}PetSymfo - Home page{% endblock %}

{% block body %}
    <h1>Hello {{ controller_name }}! ✅</h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam beatae commodi cumque deserunt dolorum eius facilis illum ipsa minima minus molestiae molestias natus nisi quibusdam, quidem sequi sint vero vitae voluptatum? Accusantium blanditiis dolor est ex expedita, fuga illo ipsam itaque, labore minima officia reprehenderit totam unde. Accusantium adipisci aliquid architecto doloremque ea earum eligendi eos expedita facere harum hic id in ipsam modi mollitia nemo neque obcaecati omnis optio, quasi quibusdam quis quod soluta tempore ut vel veritatis voluptate! Cumque error esse est iste odio provident quam reprehenderit sed ut voluptatibus. Culpa, cum expedita perferendis quia ratione sunt?
{% endblock %}
{#{% block newsletter %}{% endblock %}#}